<% include ../partials/header %>

<div class="container-fluid">
    <img class="img-responsive center-block" src="<%= place.image %>">
    <div class="text-center">
        <a href="/places/<%= place._id %>">Go Back</a>
    </div>
</div>


<% include ../partials/footer %>